
body {
background: url(anime-wallpaper_112111791.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h1{
	color: white;
	font-family: URW Chancery L;
	font-size: 60px;
	text-align: center;
	text-shadow: 0 0 0.4em #FFFFFF , 0 0 0.4em #FFFFFF , 0 0 0.4em #FFFFFF;
}

img{
	height: 75px;
	border-radius: 10px;
}